extends layout.pug

block content
    main
        .container-fluid.text-center
            // Card
            .card.card-cascade.wider.reverse.my-4.pb-5
                // Card image
                .view.view-cascade.overlay.wow.fadeIn
                    
                    .container
                        img.img-fluid(src='/img/viewimageid3029.jpg')
                    a(href='#!')
                        .mask.rgba-white-slight
                    
                    br
            

                    .container
                        .card-deck.mb-3.text-center
                            .card.mb-4.box-shadow.carta
                                .view.overlay
                                    img.card-img-top(src='https://mdbootstrap.com/img/Photos/Others/images/49.jpg', alt='Card image cap')
                                    a(href='#!')
                                        .mask.rgba-white-slight
                                
                                .card-body
            
                                    h4.card-title Card title
                                    // Text
                                    p.card-text
                                        | Some quick example text to build on the card title and make up the bulk of the card's content.
                                    // Provides extra visual weight and identifies the primary action in a set of buttons
                                    button.btn.btn-primary.btn-md(type='button') Read more
                            
                            .card.mb-4.box-shadow.carta
                                .view.overlay
                                    img.card-img-top(src='https://mdbootstrap.com/img/Photos/Others/images/49.jpg', alt='Card image cap')
                                    a(href='#!')
                                        .mask.rgba-white-slight
                                
                                .card-body
            
                                    h4.card-title Card title
                                    // Text
                                    p.card-text
                                        | Some quick example text to build on the card title and make up the bulk of the card's content.
                                    // Provides extra visual weight and identifies the primary action in a set of buttons
                                    button.btn.btn-primary.btn-md(type='button') Read more
                            
                            .card.mb-4.box-shadow.carta
                                .view.overlay
                                    img.card-img-top(src='https://mdbootstrap.com/img/Photos/Others/images/49.jpg', alt='Card image cap')
                                    a(href='#!')
                                        .mask.rgba-white-slight
                                
                                .card-body
            
                                    h4.card-title Card title
                                    // Text
                                    p.card-text
                                        | Some quick example text to build on the card title and make up the bulk of the card's content.
                                    // Provides extra visual weight and identifies the primary action in a set of buttons
                                    button.btn.btn-primary.btn-md(type='button') Read more


                    
          
